.container{
    display: flex;
    padding: 16px;
  }
  
  .home-container{
    padding-bottom: 20px;
  }
  
  .home-heading{
    color: darkslategray;
    font-family: "Roboto";
    font-size: 10px;
  }

  .home-img{
   height: 60px;
   width: 60px;
   padding: 20px;
  }

  .container-fluid{
  padding: 30px;
  }
  
  .email-container{
    background-color: #C9E9EE;
    background-size: cover;
    height: 70px;
    width: 1000px;
  }
  
  .email-heading{
    font-size: 10px;
    text-align: center;
    padding-top: 23px;
    color: darkslategray;
    font-family: "Roboto";
    font-weight: lighter;
  }

  .navbar{
    padding: 25px;
    margin-right: auto;
  }

  .navbar-nav{
    display: flex;
    margin-right: auto;
    padding: 40px;
    text-align: left;
    align-items: flex-end;
    text-align: right;
  }

  .nav-link{
    color: darkslategray;
    font-family: "Roboto";
    font-size: 14px;
  }

  .image-child{
  height: 250px;
  width: 500px;
  }

  .img-child{
  display: flex;
  margin: 5px;
  }
  
  .image-card{
    height: 250px;
    width: 260px;
  }

  .image-small{
    height: 250px;
    width: 200px;
  }
  
  .world-container{
    display: flex;
    text-align: center;
  }
  
  .group-img{
   background-size: cover;
   height: 360px;
   padding: 50px;
  }

  .world-heading{
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 500;
  color: #454545;
  }

  .world-paragraph{
  color: #454545;
  font-family: "Roboto";
  font-size: 12px;
  align-items: center;
  margin-top: 10px;
  }

  .img-container{
   width: 300px;
  }
  
  .image-container {
  display: inline;
  margin-top: 50px;
  }

  .group-container{
   margin-top: 60px;
   margin-left: 120px;
   height: 15px;
  }
  .rectangle-place{
    justify-content: start;
  }

  .rectangle-img-container{
   margin-bottom: 79px;
  }
  .rectangle-img{
    height: 150px;
    width: 170px;
  }

  .rectangle-para{
  margin-left: 100px;
  }
  
